<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">

<!-- - BOOTSTRAP -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  
<title>HOME</title>
<style>
.menu_li{
	color:white;
}

.menu_li:hover{
color:#A8C590;
}
</style>

</head>
<body>
	<!--  NAV Bar -->
	
<nav class="navbar navbar-inverse" style="background-color:#A8C590;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><font color="white">SMS</font></a>
    </div>
    <ul class="nav nav-justified">
      <li class="active"><a href="#" th:href="@{/home}" class="menu_li">Application</a></li>
      <li><a href="#" th:href="@{/admlogin}" class="menu_li">Admin Login</a></li>
      <li><a href="#" th:href="@{/studentlogin}" class="menu_li">Student Login</a></li>
      <li><a href="#" th:href="@{/falogin}" class="menu_li">Faculty Login</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<!--  CENTER DIV -->
<div class="row">
<div class="col-sm-3 col-xs-3 col-md-3 col-lg-3" style="background-color:white; height:400px;">
  <div style="height:80px"></div>
  <div class="list-group" style="height:240px">
    <a href="#" class="list-group-item">News</a>
    <a href="#" class="list-group-item">Calendars</a>
    <a href="#" class="list-group-item">Events</a>
     <a href="#" class="list-group-item">Blogs</a>
  </div>
  <div style="height:80px"></div>
</div>
	
	<div class="col-sm-9 col-xs-9 col-md-9 col-lg-9" style="background-color:white;">
	<img src="team.png" class="w3-border w3-padding" alt="Team X"
			style="max-height: 400px; max-width: 400px">
	</div>
	</div>
</div>
<!--  FOOTER  -->
<div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="background-color:#A8C590;text-align:center; height:50px;font-family:courier;font-size:25px;color:white;">
	Webmaster Information
</div>	


</body>
</html>